html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#signature {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

.reset {
  position: absolute;
  color: #FFFFFF;
  padding: 25px;
  background-color: #333333;
  top: 0;
  right: 0;
}